@tailwind base;

@tailwind components;

@tailwind utilities;

/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300;400;600;700&family=Courgette&family=Sorts+Mill+Goudy&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/aquatico');
@import url('https://fonts.cdnfonts.com/css/aeroport-2');
@import url('https://fonts.cdnfonts.com/css/cheorcy');
@import url('https://fonts.cdnfonts.com/css/harmond-font-family');
/* PRIMEVUE IMPORTS */
@import '../node_modules/primevue/resources/primevue.min.css';
@import '../node_modules/primevue/resources/themes/lara-light-purple/theme.css';

.fade-enter-from,
.fade-leave-to,
.shade-enter-from,
.shade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active,
.shade-enter-active,
.shade-leave-active {
  transition: opacity 200ms ease-out;
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }

  .hover-underline-animation {
    display: inline-block;
    position: relative;
  }

  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .box-box {
    box-shadow: 12px 12px 0px 0px #000;
    -webkit-box-shadow: 12px 12px 0px 0px #000;
    -moz-box-shadow: 12px 12px 0px 0px #000;
  }

  .conta {
    border-radius: 0px;
    box-shadow: 30px 30px 56px #9f9f9f, -30px -30px 56px #ffffff;
  }

  .box-box-sec {
    box-shadow: -12px 12px 0px 0px #110d3d;
    -webkit-box-shadow: -12px 12px 0px 0px #110d3d;
    -moz-box-shadow: -12px 12px 0px 0px #110d3d;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 4px 4px black;
  }

  .neu-box {
    transform: all 300ms ease-out;
  }
  .neu-box:hover {
    transition: all 300ms ease-out;

    border-radius: 6px;
    background: #ffffff;
    box-shadow: -9px 9px 16px #c7c7c7, 9px -9px 16px #ffffff;
  }
  .chamber::-webkit-scrollbar {
    @apply hidden;
  }
  .inputless {
    background: none;
    color: #fff;
  }
  .writing-mode {
    writing-mode: vertical-lr;
  }
  .orientation-upright {
    text-orientation: upright;
  }
  .orientation-none {
    text-orientation: none;
  }

  .striped-bg-important {
    position: relative;
    background: repeating-linear-gradient(
      to bottom right,
      #084600 15px,
      #084600 20px,
      #000 10px,
      #000 25px
    );
  }

  .striped-bg {
    position: relative;
    background: repeating-linear-gradient(
      to bottom right,
      #333333 15px,
      #333333 20px,
      #000 10px,
      #000 25px
    );
  }

  .dotted-bg {
    background-image: radial-gradient(#050505 20%, transparent 20%),
      radial-gradient(#1b1b1b 20%, transparent 20%);
    background-color: rgb(15, 15, 15);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
  }
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

#app {
  @apply font-bold;
  font-family: Outfit;
  text-align: center;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.border-me {
  border: 3px solid black;
}
